<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @micro_post.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @micro_post.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @micro_post.date %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @micro_post.memo %>
</p>

<%= link_to 'Edit', edit_micro_post_path(@micro_post) %> |
<%= link_to 'Back', micro_posts_path %>
